In [79]:
import pandas as pd
import numpy as np

val = pd.read_excel("values.xlsx")
val

,ppe1,ppe2,ppe3,ppe4,ppe5,ppe6,ppe7,ppe8,ppe9,ppe10,...,as3,as4,as5,as6,as7,as8,pen1,pen2,fore1,fore2
0,594246,-510380,83866,535880.0,-461896.0,73984.0,73984,58366,0,-48484,...,0.0,81345.0,81345.0,0.0,0.0,81345.0,3250889,2267076,47999196,56903046929
1,603467,-302897,300570,455649.0,-332633.0,123016.0,123015,240709,-27941,-35213,...,-3185444.0,1990249.0,928104.0,3297986.0,-2856568.0,1369522.0,-207149,-50254,38952,46177596
2,1233306,-1053649,179657,1043338.0,-938068.0,105270.0,105270,189968,0,-115581,...,-3185444.0,2071594.0,1009449.0,3297986.0,-2856568.0,1450867.0,898040,644442,8123125,9629964273
3,154610,0,154610,2034867.0,-1732597.0,302270.0,0,154610,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,389625,901337,1209901084
4,2585629,-1866926,718703,NaN,NaN,NaN,302269,643653,-27941,-199278,...,NaN,NaN,NaN,NaN,NaN,NaN,3941780,3250889,40479,64775976

In [80]:
dict ={}
for i in list(val.columns):
    # print(val[i])
    
    # ë³€ìˆ˜ = ì»¬ëŸ¼ëª… + ê·œì¹™
    
    for j in range(len(val[i])): 
        if np.isnan(val[i][j]):
            continue
        else: 
            dict[i+str(j)] = val[i][j]

# series = pd.Series(dict)
# series.dropna()        
# dic = series.to_dict()
dict

{'ppe10': 594246,
 'ppe11': 603467,
 'ppe12': 1233306,
 'ppe13': 154610,
 'ppe14': 2585629,
 'ppe20': -510380,
 'ppe21': -302897,
 'ppe22': -1053649,
 'ppe23': 0,
 'ppe24': -1866926,
 'ppe30': 83866,
 'ppe31': 300570,
 'ppe32': 179657,
 'ppe33': 154610,
 'ppe34': 718703,
 'ppe40': 535880.0,
 'ppe41': 455649.0,
 'ppe42': 1043338.0,
 'ppe43': 2034867.0,
 'ppe50': -461896.0,
 'ppe51': -332633.0,
 'ppe52': -938068.0,
 'ppe53': -1732597.0,
 'ppe60': 73984.0,
 'ppe61': 123016.0,
 'ppe62': 105270.0,
 'ppe63': 302270.0,
 'ppe70': 73984,
 'ppe71': 123015,
 'ppe72': 105270,
 'ppe73': 0,
 'ppe74': 302269,
 'ppe80': 58366,
 'ppe81': 240709,
 'ppe82': 189968,
 'ppe83': 154610,
 'ppe84': 643653,
 'ppe90': 0,
 'ppe91': -27941,
 'ppe92': 0,
 'ppe93': 0,
 'ppe94': -27941,
 'ppe100': -48484,
 'ppe101': -35213,
 'ppe102': -115581,
 'ppe103': 0,
 'ppe104': -199278,
 'ppe110': 83867,
 'ppe111': 300570,
 'ppe112': 179656,
 'ppe113': 154610,
 'ppe114': 718703,
 'ppe120': 115290.0,
 'ppe121': 151742.0,
 'ppe122': 206976.0,
 'ppe123': 474008.0,
 'ppe130': 13064.0,
 'ppe131': 0.0,
 'ppe132': 14729.0,
 'ppe133': 27793.0,
 'ppe140': 0.0,
 'ppe141': -14327.0,
 'ppe142': 0.0,
 'ppe143': -14327.0,
 'ppe150': -54370.0,
 'ppe151': -14400.0,
 'ppe152': -116435.0,
 'ppe153': -185205.0,
 'ppe160': 73984.0,
 'ppe161': 123015.0,
 'ppe162': 105270.0,
 'ppe163': 302269.0,
 'as10': 81345.0,
 'as11': 1369522.0,
 'as12': 1450867.0,
 'as20': 0.0,
 'as21': 3806171.0,
 'as22': 3806171.0,
 'as30': 0.0,
 'as31': -3185444.0,
 'as32': -3185444.0,
 'as40': 81345.0,
 'as41': 1990249.0,
 'as42': 2071594.0,
 'as50': 81345.0,
 'as51': 928104.0,
 'as52': 1009449.0,
 'as60': 0.0,
 'as61': 3297986.0,
 'as62': 3297986.0,
 'as70': 0.0,
 'as71': -2856568.0,
 'as72': -2856568.0,
 'as80': 81345.0,
 'as81': 1369522.0,
 'as82': 1450867.0,
 'pen10': 3250889,
 'pen11': -207149,
 'pen12': 898040,
 'pen13': 0,
 'pen14': 3941780,
 'pen20': 2267076,
 'pen21': -50254,
 'pen22': 644442,
 'pen23': 389625,
 'pen24': 3250889,
 'fore10': 47999196,
 'fore11': 38952,
 'fore12': 8123125,
 'fore13': 901337,
 'fore14': 40479,
 'fore20': 56903046929,
 'fore21': 46177596,
 'fore22': 9629964273,
 'fore23': 1209901084,
 'fore24': 64775976}

In [81]:
dic = pd.Series(dict)

In [83]:
dic.to_excel("var.xlsx")